* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  height: 150px;
  width: 300px;
}

.container .count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.container .signs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

.count {
  color: white;
}

button {
  display: flex;
  margin: 5px;
  font-size: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
